<div class="container">
    <p class="posssession-title">Possessions</p>
    <div class="possession-container">
        <div class="container-title">
            <p>{{this.statistics['Ball Possession'].home}}</p>
        </div>
        <div class="bar">
            <div class="homeBar" [style.width]="passesHome + '%'">
                <p>{{this.statistics['Ball Possession'].home}}</p>
            </div>
            <div class="awayBar" [style.width]="passesAway+1 + '%'">
                <p>{{this.statistics['Ball Possession'].away}}</p>
            </div>
        </div>
        <div class="container-title">
            <p>{{this.statistics['Ball Possession'].away}}</p>
        </div>
    </div>
</div>   
