<div class="block"
[ngClass]="{
    comparativeMatchHistoryComponent: componentParent === 'ComparativeMatchHistoryComponent',
    pastMatches: pastMatches == true
}"
*ngIf="match.status != 'Match Cancelled' && match.status != 'Time to be defined'" (click)='OpenAMatch(match.fixture_id)'
>
    <app-team-info [componentParent]="component" [team]="match.homeTeam"></app-team-info>
    <div class="informations">
        <p class="score" *ngIf="match.status != 'Not Started' ">
            {{match.goalsHomeTeam}}
                - 
            {{match.goalsAwayTeam}}
        </p>
        <div class="date">
            <p>{{match.event_date | date:"d/MM/yyyy" }}</p>
        </div>
    </div>
    <app-team-info [componentParent]="component" [team]="match.awayTeam"></app-team-info>
</div>