.block{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3% 0;
}

p{
    text-align: center;
}
span{
    text-align: center;
}

.informations{
    display: flex;
    flex-direction: column;
    justify-content: center;
}