<div class="block" *ngIf="match.status != 'Match Cancelled' && match.status != 'Time to be defined'" (click)='OpenAMatch(match.fixture_id)' >
    <app-team-info [team]="match.homeTeam"></app-team-info>
    <div class="informations">
        <div class="scores" *ngIf="match.status == 'Match Finished' ">
            <p>{{match.goalsHomeTeam}} / {{match.goalsAwayTeam}}</p>
        </div>
        <div class="statut">
            <p *ngIf="match.status == 'Not Started'"> Bientot</p>
        </div>
        <div class="date">
            <p>{{match.event_date | date }}</p>
        </div>
    </div>

        <app-team-info [team]="match.awayTeam"></app-team-info>
</div>