<div class="container">
    <canvas height="300" width="300" id="chart"></canvas>
    <div class="shots-group">
        <!-- <div>
            <p >Tir cadré</p>
            <p >{{this.team.shots_on_goal}}</p>
        </div>
        <div>
            <p >Tir non cadré</p>
            <p >{{this.team.shots_off_goal}}</p>
        </div>
        <div>
            <p>Tir bloqué</p>
            <p>{{this.team.blocked_shots}}</p>
        </div>
    </div>-->
    <div>
        <p >Total de tirs</p>
        <p >{{this.team.total_shots}}</p>
    </div> 
</div>