.container{
    margin: 1.875em 0;
}
.shot-container-title{
    text-align: center;
    font-size: 1.25em;
}
.shot-container{
    display: flex;
    justify-content: center;
    height: 18.75em;
    p{
        line-height: 13.75em;
        font-size: 1.25em;
    }
}

@media only screen and (max-width: 800px) {
    .container div{
        flex-wrap: wrap;
    }
}