.team{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    .title{
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1{
            font-size: 1.5em;
        }
        p{
            font-size: 1em;
        }

    }
    .card-stats{
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
.event{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1, p{
    text-align: center;
    margin: 0;
}
p{
    font-size: 30px;
}