
.fouls-team-container{
    display: flex;
    flex-direction: column;
    p{
        height: 125px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}