.team{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.event{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1, p{
    text-align: center;
    margin: 0;
}
p{
    font-size: 1.8em;
}