.container {
  margin: 130px 0 ;
}
p{
    font-family: 'Prompt', sans-serif;
}
.foul-title{
    text-align: center;
    font-size: 2em;
    margin-bottom: 1.5625em;
}
    .fouls-pictures{
        display: flex;
        flex-direction: column;
        width: 28.125em;
    }
    .container-fouls{
        display: flex;
        justify-content: space-between;
        .fouls-pictures{
            img{
                margin-bottom: 25px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

@media only screen and (max-width: 600px) {
    .container{
        width: 100%;
    }
}