.container {
  margin: 1.875em 0;
}
p{
    font-family: 'Prompt', sans-serif;
}
.foul-title{
    text-align: center;
    font-size: 1.25em;
    margin-bottom: 1.5625em;
}
    .fouls-pictures{
        display: flex;
        flex-direction: column;
        width: 28.125em;
    }
    .container-fouls{
        height: 26.25em;
        display: flex;
        justify-content: center;
        .fouls-pictures{
            img:nth-child(2){
                margin-top: 2.125em;
                margin-bottom:2.125em;
            }
            img:nth-child(3){
                margin-top: 2.125em;
                margin-bottom:2.125em;
            }
            img{
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

@media only screen and (max-width: 600px) {
    .container{
        width: 100%;
    }
}