<div class="team">
    <h1>{{this.team.fouls}}</h1>
    <p>Fautes</p>
    <br>
    <br>
    <div>
        <div class="event yellow-card">
            <img width="60" height="100" src="https://www.flaticon.com/svg/static/icons/svg/1031/1031434.svg" alt="">
            <p>{{this.team.yellow_card}}</p>
        </div>
        <div class="event red-card">
            <img width="60" height="100" src="https://www.flaticon.com/svg/static/icons/svg/1031/1031433.svg" alt="">
            <p>{{this.team.red_card}}</p>
        </div>
        <div class="event off-side">
            <img width="60" height="100" src="https://www.flaticon.com/svg/static/icons/svg/1031/1031387.svg" alt="">
            <p>{{this.team.offside}}</p>
        </div>
    </div>
</div>
