<div [ngClass]="{
    out: off != true
}" class="hide"></div>
<div [ngClass]="{
    off: off != true
}"class="sidebar">
    <div class="back"(click)='toggler()'>
        <img  src="../../../../assets/pics/left-arrow.png" alt="">
    </div>
    <div class="icon">
        <input type="text" placeholder="Recherches" (input)="filter($event)">
        <img src="assets/pics/loupe.png" alt="search-icon">
    </div>
    
    <div class="line"></div>
    <div class="holder">
        <div [ngClass]="{
            shown: field.shown == true || filterOn == false
        }" class="item" *ngFor="let field of list" (click)='activate(field)'> 
        <h5>{{field.name}}</h5>  
        <img src="{{field.logo}}" alt="">
    </div>
    </div>

</div>