.sidebar{
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: -20;
    padding-top: 20vh;
    top:0;
    left:0;
    background-color: grey;
    overflow: auto;
}
.block{
    display:flex;
    height:100%;
    width:300px;
    z-index: -1000;
    overflow: auto;
}
.item{
    display: block;
    z-index: 40;
    display:flex;
    height: 30px;
    background-color: lightgrey;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin:10px;
    overflow: auto;
    &:hover {
        cursor: pointer;
        transform: scale(1.2) ;
    }
}