.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.holder{
    display:flex;
}
app-home-match-card{
    padding: 12.5px;
    width: 450px;
}
@media only screen and (max-width: 625px) {
    app-home-match-card{
        padding:0;
    }
}