<app-match-preview-card *ngIf="data" [match]='data' ></app-match-preview-card>
<div *ngIf="data" class="stats-match-nav">
    <div>Stats de {{data.homeTeam.name}}</div>
    <div>Stats du match</div>
    <div>Stats de {{data.awayTeam.name}}</div>
</div>
<div class="container">
    <app-timeline *ngIf="data" [teams]="teams" [events]="data.events"></app-timeline>
    <div class="first-line">
        <app-possession-pass *ngIf="statistics" [statistics]='statistics' [data]='data'></app-possession-pass>
        <app-fouls *ngIf="statistics" [statistics]='statistics'></app-fouls>
    </div>
    <div class="second-line">
        <app-pourcentage-pass *ngIf="statistics" [statistics]='statistics' [data]='data'></app-pourcentage-pass>
        <app-shots *ngIf="statistics" [statistics]='statistics' [data]='data'></app-shots>
    </div>
</div>