p{
    font-family: 'Prompt', sans-serif;
}
.stats-match-nav{
    border-top: solid #014023;
    border-bottom: solid #014023;
    display: flex;
    justify-content: space-around;
    height: 4.6875em;
    line-height: 4.6875em;
    div:nth-child(2){
        background-color: #E6ECE9;
    }
    div {
        width: 33%;
        text-align: center;
        font-size: 0.9375em;
        font-family: 'Prompt',
            sans-serif;

    }
}
.container{
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    p{
        font-size: 1.25em;
    }
    .title{
        display: flex;
        justify-content: center;
        height: 6.875em;
        padding: 2.875em 0;
        margin: 0.625em 0;
        p{
            margin: 0 0.375em;
            line-height: 3.875em;
        }
    }
    .first-line, .second-line{
           margin: 0.625em 0;
    }
}
app-fouls, app-possession-pass, app-shots, app-pourcentage-pass{
    width: 600px;
    margin: auto;
    margin: 0.625em 0;
}
@media only screen and (max-width: 600px) {
    .container, .first-line, .second-line{
        display: flex;
        flex-direction: column;
    }
    .container{
        justify-content: space-around;
        .first-line{
            height: 100%;
        }
        app-possession-pass, app-fouls{
            margin:5px 0px;
        }
    }
    .first-line, .second-line{
        margin: 5px;
    }
    app-fouls, app-possession-pass, app-shots{
        width: 100%;
    }
}
