.container{
    margin-top: 50px;
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: space-around;
}
app-fouls{
    width: 600px;
    height:579px;
}
app-shots{
    width:600px;
    height:579px;
}
app-possession-pass{
    width:600px;
    height:579px;
}

