<div class="container">
    <canvas id="chart" [class]="test"></canvas>
    <!-- <div class="shots-group">
        <div>
            <p class="title">Tir cadré</p>
            <p class="number">{{this.team.shots_on_goal}}</p>
        </div>
        <div>
            <p class="title">Tir non cadré</p>
            <p class="number">{{this.team.shots_off_goal}}</p>
        </div>
        <div>
            <p class="title">Tir bloqué</p>
            <p class="number">{{this.team.blocked_shots}}</p>
        </div>
    </div> -->
    <div>
        <p class="title">Total de tir</p>
        <p class="number">{{this.team.total_shots}}</p>
    </div>
</div>