*{
    margin:0;
    padding:0;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: grey;
}
.teams{
    display: flex;
    justify-content: space-around;
    padding: 1%;

}
.first-team, .second-team{
    display: flex;
    flex-direction: column;
    width: 30%;
}
p{
    text-align: center;
    font-size: 1.5em;
}
.btn-reset{
    width: 5%;
    margin: 5px auto;
}
.scoreboard{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-bottom: 30px;
    div p{
    font-size: 1.8em;
    }
}
@media only screen and (max-width: 625px) {
    .teams{
        align-items: center;
    }
    .scoreboard{
        align-items: center;
        padding-bottom: 0;
        div{
            flex-direction: column;
        }
    }
    svg{
        height: 30px;
        width: 30px;
    }
}