<div class="container">
    <div class="teams">
        <div *ngIf="firstTeamSelected" class="first-team">
            <app-team-info [team]="firstTeamSelected"></app-team-info>
        </div>
        <div class='scoreboard' *ngIf="secondTeamSelected">
            <p>
                {{firstTeamSelected.statistics.wins.total}}
                :
                {{firstTeamSelected.statistics.loses.total}}
            </p>
        </div>
        <div *ngIf="secondTeamSelected" class="second-team">
            <app-team-info [team]="secondTeamSelected"></app-team-info>
        </div>
    </div>
</div>