<div class="container">
    <div class="teams">
        <div *ngIf="firstTeamSelected" class="first-team" [ngClass]="{'futurMatchFirst': futurMatch && !liveMatch}">
            <app-team-info [team]="firstTeamSelected"></app-team-info>
            <app-winstreak [MyTeam]="firstTeamSelected.team_name" [Matches]="HomeLastMatch"></app-winstreak>
        </div>
        <div class="head-futur-match" *ngIf="futurMatch && !liveMatch">
            <img *ngIf="firstTeamSelected.team_id === futurMatch.homeTeam.team_id" src="https://www.svgrepo.com/show/277262/stadium.svg" alt="" srcset="">
            <div>
                <p class="date">{{futurMatch.event_date | date: 'd/MM/yyyy'}}</p>
                <p>{{futurMatch.event_date | date: 'HH:mm'}}</p>
            </div>
            <img *ngIf="secondTeamSelected.team_id === futurMatch.homeTeam.team_id" src="https://www.svgrepo.com/show/277262/stadium.svg" alt="" srcset="">
        </div>
        <div class="head head-last-match" *ngIf="lastMatch && !liveMatch && !futurMatch">
            <p class="score">
                {{firstTeamSelected.team_id === lastMatch.homeTeam.team_id ? lastMatch.goalsHomeTeam :lastMatch.goalsAwayTeam}}
                :
                {{secondTeamSelected.team_id === lastMatch.homeTeam.team_id ? lastMatch.goalsHomeTeam :lastMatch.goalsAwayTeam}}
            </p>
            <p class="date">{{lastMatch.event_date | date: 'd/MM/yyyy'}}</p>
        </div>
        <div class="head head-live-match" *ngIf="liveMatch">
            <p class="score">
                {{firstTeamSelected.team_id === liveMatch.homeTeam.team_id ? liveMatch.goalsHomeTeam :liveMatch.goalsAwayTeam}}
                :
                {{firstTeamSelected.team_id === liveMatch.homeTeam.team_id ? liveMatch.goalsHomeTeam :liveMatch.goalsAwayTeam}}
            </p>
            <p class="time">{{liveMatch.elapsed}}''</p>
        </div>
        <div *ngIf="secondTeamSelected" class="second-team" [ngClass]="{'futurMatchSecond': futurMatch && !liveMatch}">
            <app-team-info [team]="secondTeamSelected"></app-team-info>
            <app-winstreak [MyTeam]="secondTeamSelected.team_name" [Matches]="AwayLastMatch"></app-winstreak>
        </div>
    </div>
</div>