*{
    margin:0;
    padding:0;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.teams{
    display: flex;
    justify-content: space-around;
    padding: 1%;
    height: 17.6875em;

}
.first-team, .second-team{
    width: 30%;
    margin: auto;
}
p{
    text-align: center;
    font-size: 1.5em;
    font-family: 'Prompt', sans-serif;
}
.btn-reset{
    width: 5%;
    margin: 5px auto;
}
.scoreboard{
    width: 40%;
    height: 17.6875em;
    line-height: 17.6875em;
    div p{
        font-size: 1.8em;
    }
    p{
        text-align: center;
        font-size:2.5625em;
    }
}
@media only screen and (max-width: 625px) {
    .teams{
        align-items: center;
    }
    .scoreboard{
        align-items: center;
        padding-bottom: 0;
        div{
            flex-direction: column;
        }
    }
    svg{
        height: 30px;
        width: 30px;
    }
}