div{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
h2{
    text-align: center;
    margin: 20px;
    font-family: 'Prompt', sans-serif;
}
.history-match{
    width: 71vw;
    margin: auto;
    padding-top: 50px;
}
.top{
    margin: 50px 0;
}