@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
.container{
    width:100%;
    display: flex;
    justify-content: space-between;
    z-index: 30000;
    height: 20vh;
    box-shadow:0 0 4px #000000;
}
.logo{
    height:10vh;
    margin-left: 5%; 
    margin-top: 5vh;
}
.nav{
    margin: auto 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Overpass', sans-serif;
    color: #014023;
}

a{
    text-decoration: none;
    font-size: 1.5em;
    white-space: nowrap;
    color: black;
}

ul{
    display: flex;
}
li{
    list-style-type: none;
    margin-right: 10%;
}
@media only screen and (max-width: 625px) {
    a{
        font-size: 0.8em;
    }
    .container{
        padding: 0.3em;
    }
}